<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>UserSpecific</display-name>
	<filter>
		<display-name>AuthFilter</display-name>
		<filter-name>AuthFilter</filter-name>
		<filter-class>FilterAuth.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/protected/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>UserAuth.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Transcription</servlet-name>
		<servlet-class>Deepgram.Transcription</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveAudioServlet</servlet-name>
		<servlet-class>RetrieveData.SaveAudioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAudioUrlServlet</servlet-name>
		<servlet-class>RetrieveData.GetAudioUrlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RetrieveJSONServlet</servlet-name>
		<servlet-class>RetrieveData.RetrieveJSONServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>checkGrammar</servlet-name>
		<servlet-class>Deepgram.GrammarChecking</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VerifyEmailServlet</display-name>
		<servlet-name>VerifyEmailServlet</servlet-name>
		<servlet-class>EmailService.VerifyEmailServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SignupServlet</display-name>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>UserAuth.SignupServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckAuthServlet</display-name>
		<servlet-name>CheckAuthServlet</servlet-name>
		<servlet-class>UserAuth.CheckAuthServlet</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>RedirectServlet</display-name>
		<servlet-name>RedirectServlet</servlet-name>
		<servlet-class>UserAuth.RedirectServlet</servlet-class>
	</servlet>


	<servlet>
		<description>
		</description>
		<display-name>AuthServlet</display-name>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>UserAuth.AuthServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetSessionUser</display-name>
		<servlet-name>GetSessionUser</servlet-name>
		<servlet-class>RetrieveData.GetSessionUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>UserAuth.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPasswordServlet</display-name>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<servlet-class>UserAuth.ForgotPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ResetPasswordServlet</display-name>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<servlet-class>UserAuth.ResetPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteTranscriptionServlet</display-name>
		<servlet-name>DeleteTranscriptionServlet</servlet-name>
		<servlet-class>RetrieveData.DeleteTranscriptionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckAuthServlet</servlet-name>
		<url-pattern>/CheckAuthServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth-servlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/redirect-servlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetSessionUser</servlet-name>
		<url-pattern>/get-session-user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyEmailServlet</servlet-name>
		<url-pattern>/VerifyEmailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<url-pattern>/ForgotPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<url-pattern>/ResetPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transcription</servlet-name>
		<url-pattern>/transcription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>checkGrammar</servlet-name>
		<url-pattern>/checkGrammar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveJSONServlet</servlet-name>
		<url-pattern>/getUserJson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveAudioServlet</servlet-name>
		<url-pattern>/saveaudio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAudioUrlServlet</servlet-name>
		<url-pattern>/getAudioUrl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTranscriptionServlet</servlet-name>
		<url-pattern>/deleteTranscription</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
